# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# logs de lancement (runClient / runServer / runData)
*.log

# journaux du client/serveur de dev (runClient, runData)
logs
